# =============================================================================
# AIL Framework - core configuration
# Voir https://github.com/ail-project/ail-framework
# =============================================================================
[Directories]
bloomfilters = Blooms
dicofilters = Dicos
pastes = PASTES
hashrepository = HASHS
crawled = crawled
crawled_screenshot = CRAWLED_SCREENSHOT
har = CRAWLED_SCREENSHOT
screenshot = SCREENSHOT

[Notifications]
ail_domain = http://localhost:7000
sender = ail@digital-printing.local
sender_host = localhost
sender_port = 25
sender_pw = None

[Flask]
host = 0.0.0.0
port = 7000
ssl = False
default_login = admin@digital-printing.local
default_password = change_me_ail_admin

[Redis]
host = localhost
port = 6379
db = 0

[Kvrocks_DB]
host = localhost
port = 6383
password =

[Kvrocks_Correlations]
host = localhost
port = 6383
password =

[Kvrocks_Crawler]
host = localhost
port = 6383
password =

[Crawler]
default_crawler_har = True
default_crawler_screenshot = True
default_crawler_depth_limit = 1
default_har_dir = HAR
default_screenshot_dir = SCREENSHOT
splash_url = http://lacus:7100
activate_crawler = True
crawler_full_config = True
default_crawler_closespider_pagecount = 50
default_crawler_user_agent = Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 Chrome/120.0 Safari/537.36
onion_proxy = socks5://tor:9050

[Mail]
notification_sender = noreply@digital-printing.local
notification_sender_user =
notification_sender_pw =
notification_sender_host = localhost
notification_sender_port = 25
notification_sender_smtp_tls = False

[ZMQ_Global]
address = tcp://127.0.0.1:5556
channel = 102

[Logs]
ail_logs_level = INFO
